@font-face {
  font-family: 'Creepster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Creepster'), local('Creepster-Regular'), url(https://fonts.gstatic.com/s/creepster/v8/AlZy_zVUqJz4yMrniH4Rcn38.ttf) format('truetype');
}
html {
  background: linear-gradient(90deg, #494b4a, #1d1c1a);
  height: 100vh;
}
.image #poster {
  width: 90%;
  margin: 3em 0;
  box-shadow: -3px 10px 21px 7px #0a0a0a;
}
#desc h1#movie_title {
  text-align: center;
  font-family: 'ghoulish_fright_aoeregular';
  color: #c22525;
  letter-spacing: 2px;
  font-weight: 400;
}
#desc p {
  font-size: 16px;
}
