@font-face {
  font-family: 'Creepster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Creepster'), local('Creepster-Regular'), url(https://fonts.gstatic.com/s/creepster/v8/AlZy_zVUqJz4yMrniH4Rcn38.ttf) format('truetype');
}
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Heebo Light'), local('Heebo-Light'), url(https://fonts.gstatic.com/s/heebo/v5/NGS3v5_NC0k9P9ldb6RMkKs.ttf) format('truetype');
}
html {
  background: linear-gradient(90deg, #494b4a, #1d1c1a);
}
#poster_container {
  margin-top: 25px;
}
.image #poster {
  box-shadow: -3px 10px 21px 7px #0a0a0a;
  max-width: 30vw;
}
#desc h1#movie_title {
  font-family: 'ghoulish_fright_aoeregular';
  color: #c22525;
  letter-spacing: 2px;
  font-weight: 400;
}
#desc p {
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  font-size: 16px;
}
#trailer {
  display: block;
  width: 650px;
  height: auto;
  margin: 20px auto;
}
